#slides{
    width: 792px;
    border: 4px solid #000;
    height: 308px;
    background-color: pink;
    overflow: hidden;
    position: relative;
    
    margin: 0 auto;
    .articleSlide {
        width : 796px;
        height: 312px;
        float: left;
        position: relative;
        div{
            position: absolute;
            bottom:0;
            left:0;
            height:35px;
            width: 781px;
            background-color: rgba(50,50,50,0.7);
            padding-left: 15px;
            z-index: 9999;
            a{
                font: 13pt oswald;
                color: white;
                text-decoration : none;
                display: inline-block;
                height: 35px;
                line-height: 35px;
            }
        }
    }


    

}
    #contenantSlider {
        width: 796*4px;
        height: 312px;
        position: absolute;
        z-index:0;
        
    }

    #precedent {
        width : 57px;
        height: 56px;
        position: absolute;
        left: 24px;
        cursor: pointer;
        top: 145px;
        background: url("../../../images/slide_fleche.png") no-repeat;
        opacity:0.5;
        z-index: 5000;
        transition: 1s;
        -webkit-transition: 1s;
        &:hover{
            opacity:1;
        }
    }
    
    #suivant {
        width : 57px;
        height: 56px;
        position: absolute;
        right : 24px;
        cursor: pointer;
        top: 145px;
         background: url("../../../images/slide_fleche.png") no-repeat;
        opacity:0.5;
        z-index: 5000;
        transition: 1s;
        -webkit-transition: 1s;
        &:hover{
            opacity:1;
        }
    }
    
    #listeNavigation{
        width: 84px;
        height: 40px;
        margin: 25px auto 0;
        ul{
            overflow: hidden;
            width: 84px;
            margin: 0  auto ;
           
            
        }
        li{
            float: left;
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 10px;
            margin-left: 8px;
            overflow: hidden;
            cursor: pointer;
            &:first-child{ 
                margin-left:0;
            }
            a{
                visibility: hidden;
                
            }
        }
    }

