{% block form_row %}
{% spaceless %}
    <div class="form_row">
        <p class="label">{{ form_label(form) }}</p>
        <div class="formErreur">{{ form_errors(form) }}</div>
        <div class="widget">{{ form_widget(form) }}</div>
    </div>
{% endspaceless %}
{% endblock form_row %}