html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  background: url("../images/body_background.jpg") 50% 0 no-repeat;
  background-color: black;
  height: 100%;
}
#header {
  width: 100%;
  height: 136px;
  background-color: black;
  overflow: hidden;
  margin: 50px 0 10px 0;
  border-top: 1px solid #e38d06;
  border-bottom: 1px solid #885504;
}
#conteneurHeader {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}
#logo {
  width: 94px;
  height: 124px;
  float: left;
  overflow: hidden;
  margin: 5px 188px 0 0;
  background: url("../images/logo.png") no-repeat;
}
#logo a {
  display: block;
  text-indent: -9999px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font: bold 20pt/124px "Oswald";
}
#menu {
  min-width: 500px;
  margin: 50px 0 0 0;
  height: 40px;
  float: right;
  overflow: hidden;
}
#menu ul {
  overflow: hidden;
}
#menu ul li {
  float: left;
  min-width: 80px;
  height: 100%;
  margin: 0 0 0 10px;
}
#menu ul li:before {
  content: url("../images/separateurMenu.jpg");
  padding-right: 9px;
}
#menu ul li:first-child:before {
  content: none;
}
#menu ul li a {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  font: bold 16pt Oswald;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #686868;
  text-decoration: none;
  line-height: 40px;
}
#menu ul li a:hover {
  color: #fff;
}
#conteneur {
  width: 1000px;
  margin: 0 auto;
}
#mainContent {
  overflow: hidden;
  width: 1000px;
  min-height: 350px;
}
#mainSlideContener {
  width: 940px;
  background-color: #222;
  padding: 22px 30px;
  position: relative;
}
#presentation {
  width: 904px;
  padding: 38px 49px;
  border-radius: 10px;
  margin: 30px 0;
  background-color: #222;
}
#presentation p {
  color: #ddd;
  font: 12pt Courier New;
  margin: 0;
}
article.reportagePresentation {
  width: 300px;
  float: left;
  margin: 10px 50px 10px 0px;
}
article.reportagePresentation img {
  width: 300px -2;
  height: 198px;
  border: 2px solid #222;
}
article.reportagePresentation a {
  font: bold 12pt arial;
  color: #f59f09;
  text-decoration: none;
}
article.reportagePresentation p {
  color: white;
  margin: 0;
  font: 11pt Courier New;
}
article.reportagePresentation div.simu {
  width: 300px -2;
  height: 198px;
  background-color: #222;
  border: 2px solid white;
}
#conteneurFooter {
  width: 100%;
  height: 58px;
  border-bottom: 2px solid #222;
}
#footer {
  margin: 50px auto;
  width: 1000px;
}
#footer p {
  font: 12pt Oswald;
  color: #e28c05;
}
div.clear {
  clear: both;
}
span.copyright {
  font-size: 15pt;
}
.pseudo-titre {
  color: #e28c05;
  text-transform: uppercase;
}
#miniature {
  width: 156px;
  border: 1px solid #222;
  height: 130px;
  background-color: #222;
  float: left;
  margin: 20px 10px 20px 0;
}
#presentation_reportage {
  width: 904px;
  padding: 14px 49px;
  border-radius: 10px;
  margin: 30px 0;
  background-color: #222;
}
#presentation_reportage p {
  color: #ddd;
  font: 12pt Courier New;
  margin: 12px 0;
}
h1.titreReportage {
  font: 16pt Oswald;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #e28c05;
}
section.adminSection {
  width: 980px;
  background: #222;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  overflow: hidden;
}
section.adminSection h2 {
  font: bold 16pt Oswald;
  text-transform: uppercase;
  color: #e28c05;
}
section.adminSection h3 {
  font: normal 13pt Oswald;
  color: #fff;
}
section.adminSection div.action {
  width: 150px;
  height: 100px;
  float: left;
  margin: 10px 10px;
}
section.adminSection div.action a {
  display: block;
  font: 12pt Courrier New;
  color: #fff;
  text-decoration: none;
}
section.adminSection div.action a:hover {
  text-decoration: underline;
  color: #e28c05;
}
section.adminSection div.action img {
  width: 32px;
  height: 32px;
  margin: 18px auto;
  display: block;
}
section.file-arianne {
  overflow: hidden;
}
section.file-arianne a.arianne {
  font: 14pt Courier New;
  color: #fff;
  line-height: 35px;
  text-decoration: none;
  display: inline-block;
  float: left
        margin: 5px;
}
section.file-arianne img.imgarianne {
  width: 17px;
  height: 25px;
  margin: 5px 15px 0 5px;
  float: left;
  display: inline-block;
}
#listReportageAdmin {
  margin: 0;
  padding: 0;
}
#listReportageAdmin li {
  list-style-type: none;
}
#listReportageAdmin li a {
  font: 12pt Courier New;
  color: #fff;
  text-decoration: none;
}
#listReportageAdmin li a:hover {
  color: #e28c05;
  text-decoration: underline;
}
div.form_row {
  overflow: hidden;
}
div.form_row p.label {
  font: 12pt Courier New;
  color: #fff;
  float: left;
  margin-right: 50px;
  width: 100px;
}
div.form_row div.widget {
  float: left;
}
div.form_row div.widget input {
  margin-top: 15px;
  width: 300px;
}
div.form_row div.widget select {
  margin-top: 15px;
}
div.form_row div.widget textarea {
  width: 300px;
  min-height: 300px;
}
ul.champsReportages li {
  list-style-type: none;
}
ul.champsReportages li p {
  font: 11pt Courier New;
  color: #fff;
}
article.biographie {
  background-color: #222222;
  border-radius: 10px 10px 10px 10px;
  padding: 30px 30px;
}
article.biographie h2 {
  color: #E28C05;
  font: bold 16pt Oswald;
  text-transform: uppercase;
}
article.biographie p {
  color: #DDDDDD;
  font: 12pt Courier New;
  margin: 0;
}
