@pathImg:"../images/";

html,body,ul,li{
    margin: 0;
    padding: 0;
}
html{
height: 100%;
}
body{
    background: url("@{pathImg}body_background.jpg") 50% 0 no-repeat;
    background-color: black;
    height:100%;
}
#header{
    width: 100%;
    height: 136px;
    background-color: black;
    overflow: hidden;
    margin: 50px 0 10px 0;
    border-top: 1px solid #e38d06;
    border-bottom: 1px solid #885504;
}
#conteneurHeader{
        width: 1000px;
        margin: 0 auto;
        
        height: 100%;
    }
#logo{
    width: 94px;
    height: 124px;
    float: left;
    overflow: hidden;
    margin: 5px 188px 0 0;
    background: url("@{pathImg}logo.png") no-repeat;
    
    a{
        display: block;
        
        text-indent: -9999px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font: bold 20pt/124px "Oswald";
    }
}
#menu{
    min-width: 500px;
    margin: 50px 0 0 0;
    height: 40px;
    
    float: right;
    overflow: hidden;
    ul{
      overflow: hidden;
      li{
            float: left;
            min-width: 80px;
            height: 100%;
            margin:0 0 0 10px;
            &:before{
                content: url("@{pathImg}separateurMenu.jpg");
                padding-right: 9px;
            }
            &:first-child:before{
                content: none;
            }
            a{
                transition: 0.6s;
                -webkit-transition: 0.6s;
                font: bold 16pt Oswald;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: #686868;
                text-decoration: none;
                line-height: 40px;
                &:hover{
                    color:#fff;
                }
            }
        }
    }
}

#conteneur{
    width: 1000px;
    margin: 0 auto;
}
#mainContent{
    overflow: hidden;
    width: 1000px;
    min-height: 350px;
    
}
#mainSlideContener{
    width:940px;
    background-color: #222;
    
    padding: 22px 30px;
    position: relative;
}
#presentation{
    width: 904px;
    padding: 38px 49px;
    border-radius: 10px;
    margin: 30px 0;
    background-color: #222;
    p{
        color: #ddd;
        font: 12pt Courier New;
        margin: 0;
        
    }
}
article.reportagePresentation{
    @widthArticle:300px;
    

    width: @widthArticle;
    
    float: left; 
    margin: 10px 50px 10px 0px;
    img{
        width: @widthArticle -2;
        height: 198px;
        border: 2px solid #222;
       
    }
    a{
        font: bold 12pt arial;
        color: #f59f09;
        text-decoration: none;
        
    }
    p{
        color: white;
        margin: 0;
        font: 11pt Courier New;
    }
    div.simu{
        width: @widthArticle -2;
        height: 198px;
        background-color: #222;
        border:2px solid white;
    }
}
#conteneurFooter{
    width:100%;
    height: 58px;
    border-bottom: 2px solid #222;
}
#footer{
    margin: 50px auto;
    width: 1000px;
    
    p{
        font: 12pt Oswald;
        color: #e28c05
    }
}

div.clear{
    clear: both;
}
span.copyright{
    font-size: 15pt;
}
.pseudo-titre{
    color:#e28c05;
    text-transform: uppercase;
}
#miniature{
    
    width: 156px;
    border: 1px solid #222;
    height: 130px;
    background-color: #222;
    float: left;
    margin: 20px 10px 20px 0;
    
}
#presentation_reportage{
    width: 904px;
    padding: 14px 49px;
    border-radius: 10px;
    margin: 30px 0;
    background-color: #222;
    p{
        color: #ddd;
        font: 12pt Courier New;
        margin: 12px 0;
        
    }
}
h1.titreReportage{
    font: 16pt Oswald;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:#e28c05;
}
section.adminSection{
    width:980px;
    background: #222;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    overflow: hidden;
    h2{
        font: bold 16pt Oswald;
        text-transform: uppercase;
        color: #e28c05;
    }
    h3{
        font: normal 13pt Oswald;
        color: #fff;
    }
    div.action{
        width:150px;
        height:100px;
        float: left;
        margin: 10px 10px;
        a{
            display: block;
            font: 12pt Courrier New;
            color: #fff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                color: #e28c05;
            }
        }
        img{
            width: 32px;
            height: 32px;
            margin: 18px auto;
            display: block;
        }
       
    }

    
}
section.file-arianne{

    overflow: hidden;

    a.arianne{
        font: 14pt Courier New;
        color: #fff;
        line-height: 35px;
        text-decoration: none;
        display: inline-block;
        float: left
        margin: 5px;
        
    }
    img.imgarianne{
        width:17px;
        height:25px;
        margin: 5px 15px 0 5px;
        float: left;
        display: inline-block;
    }

}
#listReportageAdmin{
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
        a{
            font: 12pt Courier New;
            color: #fff;
            text-decoration: none;
            &:hover{
                color: #e28c05;
                text-decoration: underline;
            }
        }
    }
}
div.form_row{
    overflow: hidden;
    
    p.label{
        font:12pt Courier New;
        color: #fff;
        float: left;
        margin-right: 50px; 
        width: 100px;
    }
    div.widget{
        float: left;
        input{
            margin-top: 15px;
            width:300px;
        }
        select{
            margin-top: 15px;
        }
        textarea{
            width: 300px;
            min-height: 300px;
        }
    }
}
ul.champsReportages{
    li{
        list-style-type: none;
        p{
            font: 11pt Courier New;
            color: #fff;
        }
    }
}

article.biographie{
    background-color: #222222;
    border-radius: 10px 10px 10px 10px;
    padding: 30px 30px;
    h2{
        color: #E28C05;
        font: bold 16pt Oswald;
        text-transform: uppercase;
    }
    p{
       color: #DDDDDD;
        font: 12pt Courier New;
        margin: 0;
    }


}
