<div id="precedent" ></div>
<div id="suivant" ></div>

<section id="slides">

    

    <div id="contenantSlider">
        
        
        {% for reportage in listeArticles %}
        <article class="articleSlide">
            <a href="{{path('jcg_reportage',{'url': reportage.url})}}" >
                <img src="{{asset(reportage.imageSlide.src ~ reportage.imageSlide.nom ~'.' ~ reportage.imageSlide.extension)}}" alt="">
            </a>
            <div>
                <a href="{{path('jcg_reportage',{'url': reportage.url})}}" title="">{{reportage.titre}}</a>
            </div>
        </article>
        {%endfor%}
        
        
        
     <!--  <article class="articleSlide">
            <a href="{{path('jcg_reportages')}}" ><img src="{{asset("images/clin-d-oeil.jpg")}}" alt=""></a>
            <div>
                <a href="{{path('jcg_reportages')}}" title="">Clin d'oeil</a>
            </div>
        </article>
        <article class="articleSlide">
            <a href="{{path('jcg_reportages')}}" ><img src="{{asset("images/angola_slide.jpg")}}" alt=""></a>
            <div>
                <a href="" title="">Angola</a>
            </div>
        </article>
        <article class="articleSlide">
            <a href="{{path('jcg_reportages')}}" ><img src="{{asset("images/in-vino-luminis.jpg")}}" alt=""></a>
            <div>
                <a href="" title="">In Vino Luminis</a>
            </div>
        </article>-->
    </div>
</section>

