{% extends "JcgGutnerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Administration biographie {% endblock %}


{% block body %}

 
{% block retour %}
{% form_theme form 'JcgGutnerBundle:Form:fields.html.twig' %}
<section class="adminSection file-arianne">
<img class="imgarianne" src="{{asset('images/fleche_retour.png')}}"> <a class="arianne" href="{{path('jcg_admin',{'url':'index'})}}">Retour à l'index de l'administration</a>
{% endblock%}
</section>
<section class=adminSection>
    <h2>Modifier votre biographie</h2>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.titre) }}
        {{ form_row(form.contenu) }}
    {{ form_end(form) }}
</section>
 {{ tinymce_init() }}
{% endblock %}
