{% extends "JcgGutnerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Administration {% endblock %}
{% form_theme form 'JcgGutnerBundle:Form:fields.html.twig' %}

{% block body %}
<section class="adminSection file-arianne">
{% block retour %}
        <img class="imgarianne" src="{{asset('images/fleche_retour.png')}}"> <a class="arianne" href="{{path('jcg_admin',{'url':'modifReportages'})}}">Retour à la liste des reportages</a>
{% endblock%}
    </section>
    <section class="adminSection">


        <h2>{{reportage.titre}}</h2>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.intro) }}
        {{ form_row(form.date) }}
        {{ form_row(form.url) }}
        {{ form_row(form.titre) }}
    {{ form_end(form) }}

        <ul class="champsReportages">
            <li>
                <p>Photo utilisé pour le slide (acceuil du site) : </p>
                <img class="imageAdmin" src="{{asset(reportage.imageSlide.src ~ reportage.imageSlide.nom ~ "." ~ reportage.imageSlide.extension)}}"/>
                <a href="{{path('jcg_admin_photo',{'url':reportage.url})}}">modifier la photo</a>
            </li>
            <li>
                <p>Photo utilisé pour la presentation du reportage  : </p>
                <img class="imageAdmin" src="{{asset(reportage.image.src ~ reportage.image.nom ~ "." ~ reportage.image.extension)}}"/>
                <a href="{{path('jcg_admin_photo',{'url':reportage.url})}}">modifier la photo</a>
            </li>
            
        </ul> 
    </section>
{{ tinymce_init() }}
{%endblock%}
