{% extends "JcgGutnerBundle::layout.html.twig" %}
{%block javascript%}
<script src="{{ asset('js/jquery1.10.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery-ui-1.10.3.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/admin.js') }}" type="text/javascript"></script>

  {%endblock%}

{% block title %}{{ parent() }} - {{reportage.titre}}  {% endblock %}

{% block body %}
<section id="mainContent">
    <hgroup>
        <h1 class="titreReportage">{{ reportage.titre | upper}}</h1>
        <h2>choisissez une photo</h2>
    </hgroup>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.titre) }}
        {{ form_row(form.contenu) }}
    
   {%for image in listeImages %}
        {% if loop.index%6 == 0%}
    <img class="photoAdmin" style="margin-right: 0;" id="miniature" src="{{asset(image.src ~"min/"~image.nom~"_min."~image.extension )}}">
            {% else %}
    <img class="photoAdmin" id="miniature" src="{{asset(image.src ~"min/"~image.nom~"_min."~image.extension )}}">
    {% endif %}
   {%endfor%}
    {{ form_end(form) }}
</section>
{%endblock%}