

{% extends "JcgGutnerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Administration {% endblock %}

{% block body %}

<section id="adminReportages" class="adminSection">
    <h2>Reportages</h2>
    <div class="action">
        <a href={{ path('jcg_admin',{'url':"ajoutReportage"})}}><img src="{{asset('images/ajouter-icone.png')}}"></a>
        <a href={{ path('jcg_admin',{'url':"ajoutReportage"})}}>Ajouter un Reportage</a>
    </div>
    <div class="action">
        <a href={{ path('jcg_admin',{'url':"modifReportages"})}}><img src="{{asset('images/modifier-icone.png')}}"></a>
        <a href={{ path('jcg_admin',{'url':"modifReportages"})}}>Modifier un Reportage</a>
    </div>
    <div class="action">
    </div>
</section>
<section id="adminBio" class="adminSection">
   <h2>Biographie</h2>
   <div class="action">
        <a href={{ path('jcg_admin',{'url':"modifBiographie"})}}><img src="{{asset('images/modifier-icone.png')}}"></a>
        <a href={{ path('jcg_admin',{'url':"modifBiographie"})}}>Modifier la Biographie</a>
   </div>
</section>
<section id="adminBook" class="adminSection">
    <h2>Book</h2>
    <div class="action">
        <a href={{ path('jcg_admin',{'url':"modifBook"})}}><img src="{{asset('images/ajouter-icone.png')}}"></a>
        <a href={{ path('jcg_admin',{'url':"modifBook"})}}>Ajouter un Livre</a>
   </div>
</section>
<section id="adminIndex" class="adminSection">
    <h2>Accueil</h2>
    <div class="action">
        <a href={{ path('jcg_admin',{'url':"modifPresentationIndex"})}}><img src="{{asset('images/modifier-icone.png')}}"></a>
        <a href={{ path('jcg_admin',{'url':"modifPresentationIndex"})}}>Modifier L'Acceuil</a>
   </div>
</section>

{% endblock %}
