{% extends "JcgGutnerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Administration {% endblock %}


{% block body %}
<section class="adminSection file-arianne">
{% block retour %}
<img class="imgarianne" src="{{asset('images/fleche_retour.png')}}"> <a class="arianne" href="{{path('jcg_admin',{'url':'index'})}}">Retour à l'index de l'administration</a>
{% endblock%}
</section>
<section class=adminSection>

    <hgroup>
        <h2>Choississez un reportage </h2>
        <h3>Liste des reportages présent sur le site </h3>
    </hgroup>
    <nav>
        <ul id="listReportageAdmin">
{% for reportage in listReportages%}
                <li>
                    <a href="{{path('jcg_admin',{'url':reportage.url})}}">{{reportage.titre}}</a>
                </li>   
{%endfor%}
            </ul>
        </nav>
    </section>

{% endblock %}
