{% extends "JcgGutnerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<article class="biographie">
    <h2>{{biographie.titre}}</h2><br>
    <p class="bioContenu">{{biographie.contenu | raw}}</p>
</article>

{% endblock %}
