{% extends "JcgGutnerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<div id="mainSlideContener">
{% include 'SrkSlideBundle:Default:slide.html.twig' %}
</div>


<section id="presentation">
    <p> <span class="pseudo-titre">Jean Charles Gutner</span> : {{ presentation.contenu}}</p>
</section>
{% endblock %}
