
{% extends "JcgGutnerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{reportage.titre}}  {% endblock %}

{% block body %}
<section id="mainContent">
    <h1 class="titreReportage">{{ reportage.titre | upper}}</h1>
   {%for image in listeImages %}
        {% if loop.index%6 == 0%}
    <a  class="groupImage"  rel="fancybox-thumb" href="{{asset(image.src~image.nom~"."~image.extension)}}">
        <img style="margin-right: 0;" id="miniature" src="{{asset(image.src ~"min/"~image.nom~"_min."~image.extension )}}"></a>
            {% else %}
    <a  class="groupImage"  rel="fancybox-thumb" href="{{asset(image.src~image.nom~"."~image.extension)}}">
        <img id="miniature" src="{{asset(image.src ~"min/"~image.nom~"_min."~image.extension )}}"></a>
    {% endif %}
   {%endfor%}

    <div class="clear"></div>
    <section id="presentation_reportage">
        <p>
            {{ reportage.contenu | raw}}
            </p>
        </section>
    </section>
{% endblock %}


