
{% extends "JcgGutnerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Reportages {% endblock %}

{% block body %}

<section id="mainContent">
{% for reportage in listeArticles %}

    {% if loop.index%3 == 0%}
        <article class="reportagePresentation" style="margin-right: 0px" >
            <a href="{{path('jcg_reportage',{'url':reportage.url})}}">
                <img src="{{asset(reportage.image.src ~ reportage.image.nom ~ "." ~ reportage.image.extension)}}">
            </a>
            <nav>   
                <a href="{{path('jcg_reportage',{'url':reportage.url})}}">{{reportage.titre}}</a>
            </nav>
            <aside>
                <p>{{ reportage.intro }}</p>
            </aside>
        </article>
        <div class="clear"><div>
{% else %}
        <article class="reportagePresentation" >
            <a href="{{path('jcg_reportage',{'url':reportage.url})}}">
                <img src="{{asset(reportage.image.src ~ reportage.image.nom ~".jpg")}}">
            </a>
            <nav>
                <a href="{{path('jcg_reportage',{'url':reportage.url})}}">{{reportage.titre}}</a>
            </nav>
            <aside>
                <p>{{reportage.intro}}</p>
            </aside>
        </article>
        {% endif %}


{%endfor%}


{% endblock %}