<!DOCTYPE HTML>
<html lang="fr">
    {% block head %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Gutner Reportages, Photographies{% endblock %}</title>
        {%block stylesheets%}
            <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{asset('css/global.css')}}" type="text/css">
            <link rel="stylesheet" href="{{asset('bundles/srkslide/css/slides.css')}}" type="text/css">
            <link rel="stylesheet" href="{{asset('fancybox/jquery.fancybox.css')}}" type="text/css">
            <link rel="icon" type="image/png" href="{{asset('images/favicon.png')}}" />
            

         {%endblock%}
        {%block javascript%}
            <script src="{{asset('js/jquery1.10.js') }}" type="text/javascript"></script>
            <script src="{{asset('js/jquery-ui-1.10.3.js') }}" type="text/javascript"></script>
            <script src="{{asset('fancybox/jquery.fancybox.js')}}"></script>
            <script src="{{asset('fancybox/jquery.fancybox.pack.js')}}"></script>
            <script src="{{asset('bundles/srkslide/js/slide.js')}}" type="text/javascript"></script>
            <script src="{{asset('bundles/jcggutner/js/reportage.js')}}" type="text/javascript"></script>
        {%endblock%}
        </head>
    {% endblock %}
        <body>
            <header id="header">
                <div id="conteneurHeader">
                    <div id="logo">
                        <a href="{{path("jcg_accueil")}}">Jeans Charles Gutner - Reportages</a>
                    </div>
                    <nav id="menu">
                        <ul>
                            <li><a href="{{ path('jcg_reportages') }}" >Reportages</a></li>
                            <li><a href="{{ path('jcg_biographie') }}">Biographie</a></li>
                            <li><a href="#">Book</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div id="conteneur">
                <div>
                    {% block body%}


                    {% endblock %}


                    </div>



                </div>


                <div id="conteneurFooter">
                    <footer id="footer">
                        <p><span class="copyright">©</span> JC Gutner 2013</p>
                    </footer>
                </div>



            </body>
        </html>